################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/SolkAdmin.Common/bin/Debug
/SolkAdmin.Common/obj/Debug
/SolkAdmin.DbAccess/bin/Debug
/SolkAdmin.DbAccess/obj/Debug
/SolkAdmin.DTO/bin/Debug
/SolkAdmin.DTO/obj/Debug
/SolkAdmin.UI/bin
/SolkAdmin.UI/obj/Debug
*.user
/SolkAdmin.Common/bin/Release
/SolkAdmin.Common/obj/Release
/SolkAdmin.DbAccess/bin/Release
/SolkAdmin.DbAccess/obj/Release
/SolkAdmin.DTO/bin/Release
/SolkAdmin.DTO/obj/Release
/SolkAdmin.UI/obj/Release
